body {
    background-color: #f0f8ff;
}
div {
    min-width: 500px;
    width: 75%;
    border: 1px solid #333333;
    margin-bottom: 1em;
    padding: 0.5em;
    background-color: white;
    box-shadow: 5px 10px;
    border-radius: 1em;
}
span {
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
#alert {
    border: dashed;
    color: red;
}
.hl1 {
    background-color: #fdfd96;
}
.hl2 {
    background-color: #fdca96;
}